<div class="index-content">
    <h2 class="maintitle">{{projectName}}</h2>
    <p>{{projectDescription}}</p>
	<p>
		Download the <a href='../BB.min.js' target='_bank'>BB.min.js</a> library to use it on the wwweb or generate a custom build (TBD). You can also use the project generator (TBD) for creating a stand alone app. Some of the modules depend on other modules or 3rd party libraries, in these cases an error will be thrown when they're missing from your project. If you are creating a new liBB module refer to this <a href='./assets/template-doc/docs/Template.html' target='_blank'>template page</a> for an explanation.
	</p>
    <!-- <iframe src="" frameborder="0" id="examplesFrame"></iframe> -->
    <script>
    	document.getElementById('examplesFrame').setAttribute('src','http://'+window.location.host+"/examples/index.html");
    </script>
</div>
