<div class="index-content">
    <h2 class="maintitle">{{projectName}}</h2>
    <p class="maindescription">{{projectDescription}}</p>
    <iframe src="" frameborder="0" id="examplesFrame"></iframe>
    <script>
    	document.getElementById('examplesFrame').setAttribute('src','http://'+window.location.host+"/examples/index.html");
    </script>
</div>